<ion-content class="fondoC" >
  <div>
    <img src="../assets/icon/centrodeinfo_2.jpg" alt="Imagen" >
  </div>
  
  <!--HORARIO DE ATENCIÓN FISICA-->
  <div >
    <ion-card-title class="subtitulos"> HORARIO DE ATENCIÓN FISICA</ion-card-title>
  </div>

  <swiper-container>
  <swiper-slide>   
    <ion-card >
      <ion-card-header>
      <ion-card-title >Callao</ion-card-title>
      <ion-card-subtitle color="primary">Lunes - Viernes : 7:00 a.m. - 10:00 p.m.</ion-card-subtitle>
      <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 6:00 p.m.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </swiper-slide>

    <swiper-slide>
      <ion-card>
      <ion-card-header>
        <ion-card-title >Chepén</ion-card-title>
        <ion-card-subtitle color="primary">Lunes - Viernes : 8:00 a.m. - 9:00 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 6:00 p.m.</ion-card-subtitle>
      </ion-card-header>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card>
      <ion-card-header>
        <ion-card-title>Chiclayo</ion-card-title>
        <ion-card-subtitle color="primary">Lunes - Viernes : 8:00 a.m. - 10:30 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 6:00 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Domingo:  8:00 a.m. - 1:00 p.m.</ion-card-subtitle>
      </ion-card-header>
      </ion-card>
    </swiper-slide>
    
    <swiper-slide>
      <ion-card>
      <ion-card-header>
        <ion-card-title >Chimbote</ion-card-title>
        <ion-card-subtitle color="primary">Lunes - Viernes : 8:00 a.m. - 8:00 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 8:00 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Domingo:  8:00 a.m. - 1:00 p.m.</ion-card-subtitle>
      </ion-card-header>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card>
      <ion-card-header>
        <ion-card-title >Huaraz</ion-card-title>
        <ion-card-subtitle color="primary">Lunes - Viernes : 8:00 a.m. - 9:30 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 7:30 p.m.</ion-card-subtitle>
      </ion-card-header>
      </ion-card>
    </swiper-slide>


    <swiper-slide>
      <ion-card>
      <ion-card-header>
        <ion-card-title >Lima Ate</ion-card-title>
        <ion-card-subtitle color="primary">Lunes - Viernes : 7:30 a.m. - 10:30 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 6:00 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 1:00 p.m.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </swiper-slide>


    <swiper-slide>
      <ion-card>
      <ion-card-header>
        <ion-card-title >Lima Este</ion-card-title>
        <ion-card-subtitle color="primary">Lunes - Viernes : 8:00 a.m. - 10:30 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 5:00 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 1:00 p.m.</ion-card-subtitle>
      </ion-card-header>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
    <ion-card>
      <ion-card-header>
        <ion-card-title >Lima Norte</ion-card-title>
        <ion-card-subtitle color="primary">Lunes - Viernes : 7:00 a.m. - 11:00 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Sábado:  7:00 a.m. - 7:00 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 5:00 p.m.</ion-card-subtitle>
      </ion-card-header>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card>
      <ion-card-header>
        <ion-card-title >Moyobamba</ion-card-title>
        <ion-card-subtitle color="primary"> Lunes - Viernes : 8:00 a.m. - 10:00 p.m.</ion-card-subtitle>
        <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 1:00 p.m.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card>
      <ion-card-header>
      <ion-card-title >Piura</ion-card-title>
      <ion-card-subtitle color="primary">Lunes - Viernes : 7:30 a.m. - 10:00 p.m.</ion-card-subtitle>
      <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 7:00 p.m.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card>
      <ion-card-header>
      <ion-card-title >Tarapoto</ion-card-title>
      <ion-card-subtitle color="primary">Lunes - Viernes : 7:30 a.m. - 10:00 p.m.</ion-card-subtitle>
      <ion-card-subtitle color="primary">Sábado:  8:00 a.m. - 6:00 p.m.</ion-card-subtitle>
      <ion-card-subtitle color="primary">Sábado:  7:30 a.m. - 12:00 p.m.</ion-card-subtitle>
    </ion-card-header>
    </ion-card>
    </swiper-slide>
    
    <swiper-slide>
      <ion-card>
      <ion-card-header>
      <ion-card-title >Trujillo</ion-card-title>
      <ion-card-subtitle color="primary">Lunes - Viernes : 7:00 a.m. - 9:00 p.m.</ion-card-subtitle>
      <ion-card-subtitle color="primary">Sábado:  7:00 a.m. - 7:00 p.m.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
    </swiper-slide>

  </swiper-container>



  <!--LINKS RELACIONADOS-->
<ion-card-content>

  <ion-card-title class="subtitulos">ENLACES RELACIONADOS</ion-card-title>

  <ion-button  class="but" color="danger"  fill="outline" expand="block" mode="ios" href="https://ucv.primo.exlibrisgroup.com/discovery/search?vid=51UCV_INST:UCV&lang=es">
    Búsqueda de biblioteca
    <ion-icon slot="end"name="open-outline"></ion-icon>
  </ion-button>
  
  <ion-button class="but"  color="danger" fill="outline" expand="block" mode="ios" href="https://ucv.primo.exlibrisgroup.com/discovery/jsearch?vid=51UCV_INST:UCV">
    Búsqueda de base de datos    
    <ion-icon slot="end"name="open-outline"></ion-icon>
  </ion-button>

  <ion-button class="but"  color="danger" fill="outline" expand="block" mode="ios" href="https://app.myloft.xyz/user/login" >
    MYLOFT UCV
    <ion-icon slot="end"name="open-outline"></ion-icon>
  </ion-button>

  <ion-button class="but"  color="danger" fill="outline" expand="block" mode="ios" href="https://repositorio.ucv.edu.pe" >
    Repositorio institucional
    <ion-icon slot="end"name="open-outline"></ion-icon>
  </ion-button>
</ion-card-content>
<!--PRESTAMO EN SALA -->
<ion-card-title class="subtitulos">INFORMACION IMPORTANTE</ion-card-title>

<ion-card class="azul">
  <img src="../assets/icon/prestamolib.jpg" />
  <ion-card-header>
    <ion-card-title class="centro">PRÉSTAMO EN SALA</ion-card-title>
    <ion-card-subtitle>Permite que los usuarios internos y externos del sistema puedan utilizar los recursos de 
      información académica dentro de los ambientes e instalaciones del sistema habilitadas para dicho propósito. 
      El recurso utilizado deberá ser devuelto en el mismo día en que se solicitó.</ion-card-subtitle>
  </ion-card-header>

</ion-card>


<swiper-container>

  <swiper-slide class="ambientes">   
 <ion-card class="azul">
  <img src="../assets/icon/Salasle.jpg" />
  <ion-card-header>
    <ion-card-title class="centro">SALAS DE LECTURAS :</ion-card-title>
    <ion-card-subtitle class="card">Salas con espacios amplios para la lectura de los materiales bibliográficos. 
      Disponibles dentro del horario de atención.</ion-card-subtitle>
  </ion-card-header>
</ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="../assets/icon/salasestu.jpg" />
      <ion-card-header>
        <ion-card-title class="centro">SALAS GRUPALES DE ESTUDIO :</ion-card-title>
        <ion-card-subtitle class="card">Ambientes acondicionados para actividades grupales de estudio, cada una tiene 01 PC con acceso a Internet. 
          Capacidad: de 03 a 07 personas. La solicitud es realizada por el alumno responsable del grupo, quien entregará su carné o DNI en el módulo de atención. </ion-card-subtitle>
      </ion-card-header>
  </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card class="azul">
      <img src="../assets/icon/internet.jpg" />
      <ion-card-header>
        <ion-card-title class="centro">INTERNET :</ion-card-title>
        <ion-card-subtitle class="card">Módulos individuales con acceso a Internet. El préstamo de la computadora es personal e intransferible y sólo para uso con fines académicos. 
          La solicitud se realiza en el módulo de atención mediante entrega de documento </ion-card-subtitle>
      </ion-card-header>
  </ion-card>
  </swiper-slide> 
  </swiper-container>
<!-- COMUNICACIONES-->

<ion-card-title class="subtitulos">COMUNICACIONES</ion-card-title>

<ion-card class="azul">
  <ion-card-header>
    <ion-card-title >Sala Zoom de la Biblioteca Virtual :</ion-card-title>
    <ion-card-subtitle color="primary">Un especialista atiende en vivo, mediante videoconferencia, las consultas referentes a todos los recursos y 
      servicios que brinda el Centro de Información. Ubica el acceso a la Sala Zoom en la sección de Recomendaciones en MyLOFT UCV: 
      Horario de atención: Lunes a viernes de 7 a.m. a 12 p.m. - 1 p.m. a 6 p.m. - 7 p.m. a 10:00 p.m. </ion-card-subtitle>
  </ion-card-header>
  </ion-card>

  <ion-card class="azul">
    <ion-card-header>
      <ion-card-title >Capacitación en Línea :</ion-card-title>
      <ion-card-subtitle color="primary">El Centro de Información brinda el servicio de Capacitación personalizada y grupal en línea y en vivo sobre Bases de Datos y Turnitin a estudiantes, docentes y administrativos de la Universidad César Vallejo.
         Los usuarios pueden solicitar este servicio vía correo electrónico</ion-card-subtitle>
    </ion-card-header>
    </ion-card>


 
    <ion-card class="azul">
      <ion-card-header>
      <ion-card-title >Correo electrónico de Biblioteca: </ion-card-title>
      <ion-card-subtitle color="primary"> Canal de atención en línea donde de forma escrita respondemos 
        consultas sobre los servicios de la biblioteca al correo:                         biblioteca&#64;ucv.edu.pe </ion-card-subtitle>
    </ion-card-header>
      </ion-card>






</ion-content>
