<app-header title="StudyBook"></app-header>

<ion-content class="fondo" >
  
  <div class="d-flex-center">

    <form [formGroup]="formsb" class="login-form" (ngSubmit)="submitsb()" (keypress.enter)="submitsb()">

      <app-logo></app-logo>


      <app-custom-input
      autocomplete="email"
      [control]="formsb.controls.emailsb"
      type="email"
      label="Correo">
    </app-custom-input>
  
      <div class="validators" *ngIf="formsb.controls.emailsb.errors && formsb.controls.emailsb.touched">

        <div *ngIf="formsb.controls.emailsb.errors?.['required']"> El correo es requerido </div>
        <div *ngIf="formsb.controls.emailsb.errors?.['email']"> Ingrese correo valido</div>

      </div>
  
      <app-custom-input
      [control]="formsb.controls.clavesb"
      type="password"
      label="Clave"> </app-custom-input>
  
      <div class="validators" *ngIf="formsb.controls.clavesb.errors && formsb.controls.clavesb.touched">
        <div *ngIf="formsb.controls.clavesb.errors?.['required']"> El contraseña es requerido </div>
      </div>

      <p routerLink="forgot-password"class="ion-text-end">Olvide mi contraseña</p> 

      <ion-button color="danger" expand="block" mode="ios" class="submit" type="submit" [disabled]="formsb.invalid">
        INGRESAR
      </ion-button>
      <!--{{form.value | json}}-->
    </form>

  

  </div>


  
</ion-content>
