<app-header title="Gestión de Salas"></app-header>

<ion-content>
  <div id="container">
  </div>
  <div>
    <ion-item>
      <ion-label>Selecciona una sala</ion-label>
      <ion-select [(ngModel)]="selectedSalasb" (ionChange)="cambiarSalasb()">
        <ion-select-option *ngFor="let sala of salassb" [value]="sala.id">{{ sala.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div id="contenidoSala">
    <!-- Aquí se actualizarán los datos dinámicamente -->
    <div *ngIf="datosSalasb">
      <div class="container5" *ngFor="let item of datosSalaItemssb">
        <div class="contenedores">
          <div class="subsection">
            <h3 class="subtitulo">{{ item.titulosb }}</h3>
            <p class="texto">{{ item.valorsb }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>